@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

html,
body {
  scroll-behavior: smooth;
  background-image: url("https://images.pexels.com/photos/5634704/pexels-photo-5634704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 50px;
  color: white;
  font-weight: lighter;
  margin-bottom: -0.5rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/*--------------------HOME------------------------*/

.homecontainer {
  display: grid;
  place-items: center;
  background: rgb(255, 255, 255);
  width: 90%;
  max-width: 600px;
  height: 300px;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.hometext {
  width: 60%;
  margin: 1rem auto;
}

button {
  background: rgb(225, 210, 250);
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  background: rgb(195, 190, 255);
}

.container {
  display: grid;
  /* border: solid blue; */
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  max-width: 600px;
  margin: 3rem auto;
}

.allpostspreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 300px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}

.texttransform {
  text-transform: capitalize;
  text-align: center;
  padding: 1rem;
}

.allpostspreview:hover {
  background: rgb(255, 182, 255);
}

.post-detail {
  padding: 1rem 5rem;
}

.postcontainer {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
